#root{
    height: 100vh;
}

.content-div {
    display:flex;
    height: 100%;
    margin: 16px;
}

.course-menu {
    padding: 16px;
    display: flex;
    flex: 1;
    height: 100%;
    flex-flow: column nowrap;
    gap: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    align-items: center;
}

.course-menu h2 {
    align-self: start;
    font-weight: 900;
}

.content-div{
    display: flex;
    flex-flow: row nowrap;
}

.right-whole-div{
    flex: 2;
    height: 100%;
    margin: 16px;
    
    display: flex;
    flex-direction: column;   
}

.right-content-div{
    flex:1;
    height: 50%;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;   
}

.ai-div{
    flex: 1.5;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course-title{
    margin: 0px;
    padding: 0px 15px 15px 15px;
    width: 100%;
}

.course-selection-span {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
  }
  
.selection-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    color: #121212; 
    gap: 25px; 
}

.selection-list :hover{
   text-decoration: underline;
   color : #E46F6F;
}

