.tutorial-body {
  display: flex; 
  padding: 16px;
}

.tutorial-content {
  flex: 3; 
  padding-right: 16px; 
}

.question-checks {
  flex: 1; 
  padding: 16px; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
}

.tutorial-title {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.tutorial-instruction {
  display: flex;
  align-items: center;
  color: #E46F6F;
  padding: 10px;
  justify-content: space-between;
}

.tutorial-navigation {
  display: flex;
  justify-content: space-between; 
  padding: 16px;
}

.previous, .next {
  cursor: pointer; 
  color: #121212; 
  text-decoration: none; 
  font-weight: bold; 
}

.previous:hover, .next:hover {
  text-decoration: underline; 
}

.tutorial-card {
  width: 1002px;
  height: 800px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding : 12px

}

.tutorial-questions {
align-items: center;
justify-content: center;
padding: 10px;
}

.tutorial-answer-div {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tutorial-answer {
width: 942px;
height: 615px;
background-color: #DFDFDF;
border-radius: 10px;
}

.submit_tutorial_btn {
  font-size: 16px;
  font-weight: bold;  
}

.submit_tutorial_btn:hover {
  cursor: pointer;
  color: green;
}