.tutorial-card {
    width: 1002px;
    height: 800px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding : 12px
  
}

.tutorial-questions {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tutorial-answer-div {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tutorial-answer {
  width: 942px;
  height: 615px;
  background-color: #DFDFDF;
  border-radius: 10px;
  
}
