.student-list {
  padding: 10px;
  margin: 0 auto;
}

.sub-nav {
  padding: 5px 0;
  margin: 0 20px;
  border-bottom: 1px solid #ddd;
}

.nav-span {
  display: block;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.nav-list li {
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-list a:hover {
  color: red;
  text-decoration: underline;
}

.nav-list a.active {
  color: green;
  pointer-events: none;
  cursor: default;
}

.search-filter {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  width: 100%;
}

.search-filter input {
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-filter img {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.students-table {
  width: 100%;
  margin: 0 20px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  table-layout: fixed;
}

.students-table colgroup col {
  width: 10%;
}

.students-table th,
.students-table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.students-table th {
  background-color: #f2f2f2;
}

.students-table tbody {
  display: block;
  height: 400px;
  overflow-y: auto;
}

.students-table thead,
.students-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.students-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.students-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.students-table th:nth-child(1),
.students-table td:nth-child(1) {
  width: 20%; 
}

.students-table th:nth-child(2),
.students-table td:nth-child(2) {
  width: 10%;
}

.students-table th:nth-child(3),
.students-table td:nth-child(3) {
  width: 10%;
}

.students-table th:nth-child(4),
.students-table td:nth-child(4) {
  width: 10%;
}

.students-table th:nth-child(5),
.students-table td:nth-child(5) {
  width: 10%;
}

.students-table th:nth-child(6),
.students-table td:nth-child(6) {
  width: 20%;
}

.students-table th:nth-child(7),
.students-table td:nth-child(7) {
  width: 30%;
}

.assign-module-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assign-module-dropdown select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.assign-module-dropdown button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.assign-module-dropdown button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.assign-module-dropdown button:hover:enabled {
  background-color: #0056b3;
}

.remove-button {
  margin-left: 10px;
}
